<?php

$user = 'TU_USUARIO_AQUI';
$pass = 'TU_PASS_AQUI';


try {
    $db = new PDO('mysql:host=localhost;dbname=palta', $user, $pass);
} catch (PDOException $e) {
    print "Error!: " . $e->getMessage() . "<br/>";
    die();
}
?>
